
<!DOCTYPE html>
<html>
  <head>
    <title>React_with_jsx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>